.*.sw?
.nfs*
*~

/.claude/settings.local.json
/.env.*local
/.envrc.local
/.netrc
/DevNotes*
/TODO*
/c.out
/go.work*
/data/*
/delta/applied/*
/dist/*
/go.work*
/node_modules/*
/pkg/linux_amd64/*
/pkg/*.*/
/src/*.*/
/var/*
